@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
:root {
  --background: #FEFCFB;
  --foreground: #334155;
  --primary: #F08A5D;
  --secondary: #183153;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--secondary);
    font-weight: 600;
  }
}
